.profileScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Light";
}
.profileScreen__body {
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  display: grid;
  grid-template-areas:
    "a a a a a"
    "b c c c c"
    "d e e e e"
    "d e e e e"
    "d e e e e";
  grid-gap: 15px;
}
.profileScreen__title {
  grid-area: a;
  font-size: 40px;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 10px;
  margin: 0;
}
.profileScreen__avatar {
  grid-area: b;
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 75px;
  height: max-content;
  border-radius: 3px;
  justify-self: end;
}
.user__info {
  grid-area: c;
  border-bottom: 1px solid #282c2d;
}
.user__email {
  background-color: gray;
  padding: 10px 5px;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 3px;
}
.user__current__plan {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
.user__plans {
  grid-area: e;
}
.user__plans > .signOut__btn {
  width: 100%;
  background-color: #e50914;
  color: white;
  font-family: "Regular";
  font-size: 14px;
  border: none;
  border-radius: 3px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
.user__plans > .signOut__btn:hover {
  filter: brightness(1.2);
}
@media screen and (max-width: 750px) {
  .profileScreen__body {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-areas:
      "a a a a a"
      "b c c c c"
      "e e e e e"
      "e e e e e"
      "e e e e e";
    grid-gap: 15px;
  }
  .profileScreen__avatar {
    justify-self: start;
  }
  .profileScreen__title {
    font-size: 30px;
  }
}
