.banner__container {
  aspect-ratio: 16/7;
  width: 100vw;
  background-color: black;
  position: relative;
}
/* .banner__video {
  height: 40vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(60%);
 } */

.banner__image {
  aspect-ratio: 16/7;
  object-fit: cover;
  width: 100vw;
  filter: brightness(70%);
}
.banner__contents {
  color: white;
  position: absolute;
  top: calc(((7 * 100vw) / 16) * 0.3);
  width: 40vw;
  padding-left: 4%;
  z-index: 10;
  user-select: none;
}
.banner__title {
  font-size: 2.8rem;
  font-family: "Bold";
  margin-bottom: 1rem;
}
.banner__description {
  font-size: 1rem;
  font-family: "Light";
}
.banner__buttons {
  display: flex;
  width: 100%;
}
.banner__button {
  font-family: "Medium";
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  color: black;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
}
.banner__button:hover {
  filter: brightness(80%);
  transition: all 0.2s;
}
.banner__buttons .button2 {
  background-color: #6d6d6eb3;
  color: white;
}
.banner__fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(180deg, transparent, rgba(24, 24, 24, 0.65), #111);
}
@media screen and (max-width: 1100px) {
  .banner__title {
    font-size: 2.4rem;
  }
  .banner__description {
    font-size: 0.75rem;
  }
  .banner__button {
    font-size: 0.75rem;
    padding: 0.2rem 1.2rem;
  }
}
@media screen and (max-width: 900px) {
  .banner__contents {
    width: 45vw;
  }
  .banner__title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .banner__description {
    font-size: 0.6rem;
  }
  .banner__button {
    font-size: 0.6rem;
    padding: 0.2rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .banner__title {
    font-size: 1.2rem;
  }
  .banner__description {
    font-size: 0.4rem;
  }
  .banner__button {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 400px) {
  .banner__contents {
    width: 50vw;
  }
  .banner__title {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .banner__description {
    font-size: 0.3rem;
  }
  .banner__button {
    font-size: 0.3rem;
  }
}
