@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/NetflixSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Light";
  src: url("../assets/fonts/NetflixSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Medium";
  src: url("../assets/fonts/NetflixSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/NetflixSans-Regular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Regular";
  background-color: #111;
  color: white;
}
